# Base Style
BasedOnStyle: Microsoft

# Layout & Indentation
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
TabWidth: 4
IndentWidth: 4

# Classes & Access Modifiers
AccessModifierOffset: -4
IndentAccessModifiers: false

# Switch Statements
IndentCaseLabels: true

# Functions & Templates
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

# Headers & Casts
SpaceAfterCStyleCast: true

# Brace Wrapping Rules
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
  BeforeWhile: true
