gtk-3.0/.config/gtk-3.0
gtk-3.0/.config/gtk-3.0/gtk.css
gtk-4.0/.config/gtk-4.0/gtk.css
hypr/.config/hypr/scheme/current.conf
kitty/.config/kitty/kitty.conf.bak
nvim/.config/nvim/lazy-lock.json
kitty/.config/kitty/current-theme.conf
nvim/.config/nvim/lua/config/current_theme.lua
