# Base Style
BasedOnStyle: LLVM

# Layout & Indentation
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 80
TabWidth: 4
IndentWidth: 4
PointerAlignment: Left

# Classes & Access Modifiers
AccessModifierOffset: -4
IndentAccessModifiers: false

# Switch Statements
IndentCaseLabels: true

# Functions & Templates
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

# Headers & Casts
SpaceAfterCStyleCast: true

# Brace Wrapping Rules
BreakBeforeBraces: Allman
